<% jsit 'jquery.fieldselection', 'tbbce' %>
<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :receiver_id, "To" %><br />
    <%= f.text_field :receiver_id, :autocomplete => "off" %>
  </p>
  <div id="auto_complete_results"></div>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.tbbce :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
