<h1>New forum</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :previous %><br />
    <%= f.collection_select :previous, Forum.all, :id, :name, :include_blank => "First" %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.collection_select :parent, Forum.all, :id, :name, :include_blank => "Top Level" %>
  </p>
    <p>
  	<%= f.label :description %><br/>
  	<%= f.text_area :description %>
  </p>
  <p>
  	<%= check_box_tag "forum[frontpage]", 1, @forum.frontpage %>
  	<%= f.label :frontpage, "First Posts appear on Frontpage?" %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
