<% jsit 'jquery.fieldselection', 'tbbce' %>
<h1>New topic in <%= @topic.forum.name %></h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
    <%= f.hidden_field :forum_id %>
  <p>
    <%= f.label :post_body %><br />
    <%= f.tbbce :post_body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', forum_url(@topic.forum) %>
