<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :enabled => false %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
	<% if permitted_to? :edit, User.new %>
		<p>
			<%= f.label :role %><br />
			<% if permitted_to? :index, :systems %>
				<%= f.collection_select  :role, User::ROLES, :to_s, :humanize %>
			<% else %>
				<%= f.collection_select  :role, User::ROLES[1...User::ROLES.count+1], :to_s, :humanize %>
			<% end %>
		</p>
	<% end %>
	<% if @user.id == current_user.id then %>
	  <p>
  	<%= f.label :openid_identifier, "OpenID URL" %><br />
  	<%= f.text_field :openid_identifier %>
  	</p>
	<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'View Profile', @user %>
