<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<% if permitted_to? :edit, @user %>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<% end %>

<p>
	<b>Role:</b>
	<%= h @user.role.humanize %>
</p>

<% if permitted_to? :edit, @user %>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back to Users', users_path %>
