<h1>Editing planet_feed</h1>

<% form_for(@planet_feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @planet_feed %> |
<%= link_to 'Back', planet_feeds_path %>