<h1>New post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <b><%= @post.user.username %></b>
    <%= f.hidden_field :user_id %>
  </p>
  <p>
    <b><%= @post.topic.title %></b>
    <%= f.hidden_field :topic_id %>
  </p>
  <p>
    <b><%= @post.forum.name %></b>
    <%= f.hidden_field :forum_id %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
