<h1>Login</h1>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages :header_message => 'Unable to Login', :sub_message => 'These errors prevented you logging in:' %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
  <h2>Or use OpenID</h2>
  <p>
  	<%= f.label :openid_identifier, "OpenID URL" %><br />
  	<%= f.text_field :openid_identifier %>
  </p>
    <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>
